* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Outfit, 'Young Serif';
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    min-width: 590px;
    max-width: 590px;
    border-radius: 24px;
    margin: 40px;
}

img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 12px;
}

h1 {
    font-family: 'Young Serif';
    font-weight: 400;
    margin: 8px 0;
}

p {
    font-family: Outfit;
    font-weight: 400;
    font-size: 13px;
    margin: 16px 0;
}

div {
    background-color: hsl(330, 100%, 98%);
    margin: 30px 0;
    height: 150px;
}

h3 {
    font-family: 'Outfit';
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    padding: 16px;
    font-size: 18px;
}

ul {
    margin-left: 40px;
}

li {
    padding-bottom: 6px;
    font-size: 13px;
}

span {
    font-weight: 700;
}